body{
  margin: 0;
  background-color: #17181a;
  color: rgb(223, 223, 223) !important
}

.form-container{
  margin-top: 4rem;
   display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}

.text-field-containers{
  display: grid;
  grid-gap: 2rem;
  width: 35%;
}

@media(max-width: 930px){
  .text-field-containers{
    width: 50%;
  }
}

@media(max-width: 630px){
  .text-field-containers{
    width: 75%;
  }
}


#submit-btn{
  border: 1px solid #1fad37;
  color: #1fad37;
  &:hover{
      background-color: #1fad3721;
  }
}

@import './partials/portfolio';
@import './partials/top-nav';
@import './partials/particles';
@import './partials/navbar';
@import './partials/blog';
@import './partials/home';